<%- include("partials/header.ejs") %>

<!-- About us section -->
<hr>
<div class="my-3">
    <div class="p-5 text-center">
      <div class="container py-3">
        <h1 class="text-body-emphasis py-2">About us</h1>
        <p class="col-lg-8 mx-auto lead">
            Double Glazing fabricators trusted by Selecta Systems, with almost 10 years of experience in supplying and fitting double glazed goods. All goods are fabricated in house, including glass units. Styles and configurations of our double glazed goods have modernised over the years to include Flush windows, Bi-Fold doors, SkyPod Roofs and many more modern styles. Based in Leicester, we have carried out operations in Wolverhampton, London, Skegness, Derby, Walsall, Birmingham, Leamington Spa and many more locations across the midlands and UK. Please browse through the gallery of our work and what we have to offer below
        </p>
      </div>
    </div>
  </div>
<hr>

<!-- Gallery -->
<div class="container margin-spacing d-flex justify-content-center">
    <h1 class="text-body-emphasis">Gallery</h1>
</div>
<div class="container margin-spacing">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img class="galleryImg" src="images/BackHouseGrey.jpg" alt="anthracite back of the house windows">
          <div class="card-body d-flex justify-content-center">
            <p class="card-text">Anthracite Grey Windows & Doors</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img class="galleryImg" src="images/ChartwellGreen.jpg" alt="anthracite back of the house windows">
          <div class="card-body d-flex justify-content-center">
            <p class="card-text">Chartwell Green Windows & Doors</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img class="galleryImg" src="images/ArchDoor.jpg" alt="anthracite back of the house windows">
          <div class="card-body d-flex justify-content-center">
            <p class="card-text">Anthracite Grey Arch Door</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img class="galleryImg" src="images/Grey_OakComposite.jpg" alt="anthracite back of the house windows">
          <div class="card-body d-flex justify-content-center">
            <p class="card-text">Anthracite Grey Frame & Oak Composite Door</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img class="galleryImg" src="images/ChartwellFrenchDoor.jpeg" alt="anthracite back of the house windows">
          <div class="card-body d-flex justify-content-center">
            <p class="card-text">Chartwell Green French Door</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img class="galleryImg" src="images/BlackProfile.jpg" alt="anthracite back of the house windows">
          <div class="card-body d-flex justify-content-center">
            <p class="card-text">Black Profile Windows & Doors</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img class="galleryImg" src="images/RedComposite.jpg" alt="anthracite back of the house windows">
          <div class="card-body d-flex justify-content-center">
            <p class="card-text">Red Composite Door with Brown Frame</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img class="galleryImg" src="images/OakFlush.jpeg" alt="anthracite back of the house windows">
          <div class="card-body d-flex justify-content-center">
            <p class="card-text">Oak Flush Window</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img class="galleryImg" src="images/Bi-FoldDoor.jpg" alt="anthracite back of the house windows">
          <div class="card-body d-flex justify-content-center">
            <p class="card-text">Bi Fold Door</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<%- include("partials/footer.ejs") %>