
body{
	background: linear-gradient(-45deg,#1f1b1b, #f2f2f2, #1f1b1b);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

/* Standard spacing classes, to avoid repitition */

.margin-spacing{
	margin-top: 4rem;
	margin-bottom: 4rem;
}

hr{
	width: 100%;
	border-bottom: 0.25rem solid grey;
	border-top: none;
}

/* Top of the Page Logo */

.company-logo{
	width: 30rem;
	height: auto;
}

/* Nav */

.nav-link{
	font-size: 1.5rem;
	font-weight: bold;
	color: #00af58;
}

.nav-link:hover{
	color: black;
}

/* Carousel */

.carousel-container{
	display: flex;
	justify-content: center;
}

.carousel {
	width: 90%;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 60rem;
}

.carousel-img{
	border-radius: 0.625rem;
	height: 100%;
	width: 100%;
  }


/* Circular Images/Three Columns */

.three-columns{
	display: flex;
	flex-direction: column;
	height: 20rem;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

#three-column-img{
	width:  8.75rem;
	height: 8.75rem;
}

.detail-button{
	background-color: #007c3e;
}

.detail-button:hover{
	background-color: black;

}

/* Featurette */


#feature-texts{
	height: 12.5rem;
	width: 25rem;
}

#feature-imgs{
	height: 36rem;
	width: 38rem;
}

.feature-img{
	height: 100%;
	width: 100%;
	border-radius: 0.625rem;
}

/* Contact Form */

.form-section{
	height: 40rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

form{
	width: 50rem;
}

#contactHeading{
	text-align: center;
}

/* Footer */
small{
	margin-left: 1rem;
}

@media only screen and (max-width: 768px){
	.company-logo{
		width: 25rem;
	}
	form{
		width: 25rem;
	}
}


/* About page */

.galleryImg{
	height: 30rem;
}

.card{
	transition: transform .2s;
}

.card:hover{
	transform: scale(1.05);
}

